/* JavaFX CSS - Leave this comment until you have at least cr
 * eate one rule which uses -fx-Property
 */
 #pane{
	-fx-background-image:url(../../imgs/images/fire.gif);
  	-fx-background-position:center;
  	-fx-background-repeat: no-repeat;
  	-fx-background-color:#030303;
}

.label{
	-fx-text-fill:linear-gradient(to right, Yellow, DarkOrange, Red, DarkOrange, Tomato);
	-fx-font-family:Impact;
	-fx-font-size:50;
	-fx-font-weight:bold;
	-fx-text-alignment: center;
}
 
 #leibol{
 	-fx-text-fill:linear-gradient(to right, Yellow, DarkOrange, Red, DarkOrange, Tomato);
	-fx-font-family:Impact;
	-fx-font-size:30;
	-fx-font-weight:bold;
	-fx-text-alignment: center;
 }
 
 .leibol{
 	-fx-text-fill:linear-gradient(to right, Yellow, DarkOrange, Cyan, DarkOrange, Tomato);
	-fx-font-family:Impact;
	-fx-font-size:30;
	-fx-font-weight:bold;
	-fx-text-alignment: center;
 }
 
 #field{
 	-fx-position-shape: center;
 }
 .button{
	text:white;
	border:white;
	background:transparent;
	
	-fx-background-color:background;
	-fx-text-fill:text;
	-fx-border-color:border;
	
	-fx-font-family:Impact;
	-fx-font-size:20;
	-fx-font-weight:bold;
	
	-fx-background-position:center;
  	-fx-background-repeat: no-repeat;
  	
}

.buttonA{
	text:white;
	border:white;
	background:transparent;
	
	-fx-background-color:background;
	-fx-text-fill:text;
	-fx-border-color:border;
	
	-fx-font-family:Impact;
	-fx-font-size:14;
	-fx-font-weight:bold;
	
	-fx-background-position:center;
  	-fx-background-repeat: no-repeat;
  	
}

.prime{
	-fx-background-color:green ;
  	-fx-background-size:100% 100%;
}

.compound{
	-fx-background-color:green ;
  	-fx-background-size:100% 100%;
}
.button:hover{background:linear-gradient(to bottom right, Blue, transparent);}
.button:pressed{background:linear-gradient(to bottom right, Indigo, transparent);}
 